<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-9">
			<div class="row">
				<div class="col-xs-12 text-center">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Timer:topo -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-9403111573509118"
					     data-ad-slot="7229462739"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<div class="clearfix text-center">
				<h1 class="text-center text-primary">Timer</h1>
				<div class="input-group input-group-lg">
				  <input type="text" class="form-control" ng-model="vm.tarefa.descricao" placeholder="Descricao Tarefa" >
				  <span class="input-group-addon">{{vm.tarefa.count | formatTimer}}</span>
				</div>
			</div>
			<br>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group  btn-group-lg" role="group">
					<button class="btn " ng-class="{'btn-danger': vm.tarefa.running, 'btn-primary':!vm.tarefa.running}" ng-click="vm.startPause()">{{!vm.tarefa.running ? 'Iniciar' : 'Pausar'}}</button>
				</div>
				<div class="btn-group  btn-group-lg" role="group">
					<button class="btn btn-warning" ng-click="vm.finalizar()" ng-disabled="vm.tarefa.count == 0">Finalizar</button>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><label>Registro de atividades</label></div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th>Descricao</th>
									<th>Inicio</th>
									<th>Final</th>
									<th>Tempo usado</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, tarefa) in vm.listaTarefas">
									<td>{{tarefa.descricao}}</td>
									<td>{{tarefa.inicio | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
									<td>{{tarefa.final | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
									<td>{{tarefa.count | formatTimer}}</td>
									<td>
										<button 
											title="Excluir"
											ng-click="vm.removeTarefa(key)"
											type="button" 
											class="btn btn-xs btn-danger">
												<i class="glyphicon glyphicon-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><label>Registro de ociosidade</label></div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th>Data</th>
									<th>Ociosidade</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(key, value) in vm.listaOciosidade">
									<td>{{value.data | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
									<td>{{vm.getOciosidade(value.total) | formatTimer}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 text-center">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Timer:bottom -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-9403111573509118"
					     data-ad-slot="2659662332"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a href="//jandersonlemos.ml" title="Voltar ao site">Voltar ao site</a>
		</div>
	</div>
</div>